<form class="login" onsubmit="login(event)">
  <input type="text" name="username" />
  <input type="password" name="password" />
  <input type="submit" />
</form>
<script>
  function login(event) {
    event.preventDefault()
    let form = event.target
    localStorage.setItem('method', 'password')
    localStorage.setItem('username', form.username.value)
    localStorage.setItem('password', form.password.value)
    location.href = '/'
  }
</script>
